@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,700');
/*font-family: 'Raleway', sans-serif;*/

@font-face {
  font-family: 'LMRomanSlant10-Regular';
  src: url('../fonts/LMRomanSlanted10/LMRomanSlant10-Regular.woff') format('woff'),
       url('../fonts/LMRomanSlanted10/LMRomanSlant10-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatinModernRomanSlanted10Regular';
  src: url('../fonts/LMRomanSlanted10/LatinModernRomanSlanted10Regular.eot');
  src: url('../fonts/LMRomanSlanted10/LatinModernRomanSlanted10Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body{
    background-color: #efefef;
}
.section .letter{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    z-index: -10;
}
.first .letter{
    background-image: url(../img/letter_a.png);
}
.first img{
    position: absolute;
    right: 20px;
    bottom: 0;
    height: 80%;
}
.first .text{
    display: inline-block;
    width: 45%;
    top: 35%;
    left: 10%;
    position: absolute;
    vertical-align: top;
    z-index: 15;
}
.first .text .bold{
    font-size: 4em;
    font-family: 'Raleway';
    font-weight: 700;
    display: inline;
}
.first .text .thin{
    font-size: 4em;
    font-family: 'Raleway';
    font-weight: 100;
    display: inline;
}
.first .text .cursive{
    font-size: 1.4em;
    font-family: 'LatinModernRomanSlanted10Regular', 'LMRomanSlant10-Regular';
    max-width: 85%;
    padding-top: 20px;
}
.menu{
    position: fixed;
    top: 20px;
    right: 30px;
    width: 100px;
    z-index: 15;
    cursor: pointer;
}
.menu p{
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Raleway';
    display: inline-block;
    margin: 0;
}
.menu .fa{
    vertical-align: top;
    margin: 5px 0 0 5px;
    font-size: 16px;
}
.line{
    display: block;
    width: 1px;
    background-color: #343434;
    height: 80px;
    position: absolute;
}
















.second .letter{
    background-image: url(../img/letter_p.png);
    left: 100px;
}
.third .letter{
    background-image: url(../img/letter_o.png);
}
.fourth .letter, .fifth .letter{
    background-image: url(../img/letter_l.png);
    left: 100px;
}
.sixth .letter{
    background-image: url(../img/letter_o6.png);
}
.section img{
    z-index: 10;
}