@font-face {
  font-family: 'LMRomanSlant10-Regular';
  src: url('LMRomanSlant10-Regular.woff') format('woff'),
       url('LMRomanSlant10-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatinModernRomanSlanted10Regular';
  src: url('LatinModernRomanSlanted10Regular.eot');
  src: url('LatinModernRomanSlanted10Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

